.App {
  text-align: center;
}

.loading {
  font-size: 40px;
}

.images-container p {
  display: inline;
}

.images-container {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.images-container img {
  cursor: pointer;
  width: 20px;
}
